@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
body {
	flex: 1;
}

/* Custom scrollbar styles */
select::-webkit-scrollbar {
	width: 8px;
}

select::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

select::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

select::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Ensure select does not overflow on small screens */
select {
	max-width: 100%;
	box-sizing: border-box;
}

@keyframes fade-in {
	from {
			opacity: 0;
			transform: translateY(-20px);
	}
	to {
			opacity: 1;
			transform: translateY(0);
	}
}

.animate-fade-in {
	animation: fade-in 1s ease-out forwards;
}

.animate-fade-in.delay-200 {
	animation-delay: 0.2s;
}
